.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:gray;
    color: white;
    text-align: center;
  }

  div.ex3 {
    background-color: lightblue;
    width: 298px;
    height: 400px;
    overflow: auto;
  }



  .dropbtn {
    
    background: black;
    color: white;
    padding: 10px;
    
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    background: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:gray}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:black}

  .container {
    height:50%;
    width: 40%;
  }
  
  .image {
  
    width: 50%;
    height: 50%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
  